<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<listeners>
    <listener class-name="TestComponents.Listeners"></listener>
</listeners>
    <test verbose="3" preserve-order="true" name="Base">
        <classes>
            <class name="SubmitOrderTest"></class>

        </classes>
    </test>

    <test verbose="3" preserve-order="true" name="Erro">
        <classes>
           <class name="ErrorValidation"></class>

        </classes>
    </test>




</suite>